<div class="bg-amber-200 py-24 sm:py-8"></div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="-mx-6 grid grid-cols-2 gap-0.5 overflow-hidden sm:mx-0 sm:rounded-2xl md:grid-cols-3">
      <div class="bg-amber-300 p-8 sm:p-10">
        <a target="_blank" href = "https://lovevery.com/?srsltid=AfmBOorhD0L2MN4pDsuufINqfrFxhM_z9LDXmni_UbblHsCD-k5szuVG">
        <img class="max-h-12 w-full object-contain" src="/Images/lovevery.png" alt="Lovevery" width="158" height="48" ></a> 
      </div>

      <div class="bg-amber-300 p-6 sm:p-10" id = "box">
      <a target="_blank" href = "https://momsoncall.com/blogs/blog">
       <img class="max-h-12 w-full object-contain" id = "img" src="/Images/moms.png" alt="Moms on call" width="158" height="48" ></a>
      </div>
      <div class="bg-amber-300 p-6 sm:p-10">
       <a target="_blank" href = "https://www.babycenter.com/">
        <img class="max-h-12 w-full object-contain" src="/Images/babyc.png" alt="Baby Centre" width="158" height="48"></a>
      </div>

      <div class="bg-amber-300 p-6 sm:p-10">
      <a target="_blank" href = "https://newparent.com/">
        <img class="max-h-12 w-full object-contain" src="/Images/new parent.png" alt="New Parent" width="158" height="48" ></a>
      </div>

      <div class="bg-amber-300 p-6 sm:p-10">
      <a target="_blank" href ="https://kidshealth.org/">
        <img class="max-h-12 w-full object-contain" src="/Images/kidshealth.png" alt="Kids Health" width="158" height="48" ></a>
      </div>

      <div class="bg-amber-300 p-6 sm:p-10">
      <a target="_blank" href="https://www.daddilife.com/">
        <img class="max-h-12 w-full object-contain" src="/Images/daddilife.png" alt="Daddilife" width="158" height="48" ></a>
      </div>
    </div>
  </div>
</div>


