<div class="p-8">
    <input type="file" id="file-upload" accept="image/*">
    <button class="upload bg-black py-1 px-4 text-white border border-black rounded">Upload</button>

    <div id="lightgallery" style="display: none;"></div>
        <!-- Image preview linked for LightGallery -->
        <a href="" id="imageLink">
            <img id="imagePreview" src="" alt="Your Image" style="max-width: 300px; display: none;">
        </a>
    </div>

    <div id="lightgallery">
        {{#each images }}
            <div class="gallery-item" data-src="{{ this.url }}">
                <img src="{{ this.url }}" alt="baby image" />
            </div>
        {{/each }}
        <!-- More gallery items as needed -->
    </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/lightgallery.umd.js"></script>
<script> document.addEventListener('DOMContentLoaded', function () { lightGallery(document.getElementById('lightgallery'), 
    { selector: '.gallery-item', 
    mode: 'lg-slide', 
    download: false 
    });
});
</script>
<script src="/js/gallery.js"></script>

