<div class="flex min-h-screen">
  <div class="min-h-full flex-1 flex flex-col items-center justify-top p-8">
    <div class="w-fit">
      <div>
        <img
          class="w-40 h-40 mb-8 mx-auto"
          src="/Images/tinysteps6.png"
          alt="tiny steps"
        />
      </div>
      <div>
        {{#if baby}}
          <div class="flex flex-col justify-center items-center mb-6">
            <h2 class="text-2xl font-bold text-violet-900">{{baby.babyName}}</h2>
            <p class="text-gray-700">Birthday: {{format_date baby.babyBirthday}}</p>
          </div>

        {{else}}
          <form class="space-y-4 save-baby-info">
            <!-- Baby's Name -->
            <div>
              <label
                for="baby-name"
                class="block text-gray-700 font-medium"
              >Baby's Name:</label>
              <input
                type="text"
                id="baby-name"
                name="babyName"
                value="{{babyName}}"
                required
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
              />
            </div>

            <!-- Baby's Birthday -->
            <div>
              <label
                for="baby-birthday"
                class="block text-gray-700 font-medium"
              >Baby's Birthday:</label>
              <input
                type="date"
                id="baby-birthday"
                name="babyBirthday"
                required
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
              />
            </div>

            <!-- Submit Button -->
            <div>
              <button
                type="submit"
                class="w-full bg-violet-900 text-white py-2 px-4 rounded-md hover:bg-violet-600 focus:outline-none focus:bg-violet-600"
              >Save</button>
            </div>
          </form>
        {{/if}}
      </div>
    </div>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

<script src="/js/baby.js"></script>